@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F0F2F5] text-right;
    font-family: 'Inter', sans-serif; /* أو أي خط عربي جميل */
  }
}

@layer components {
  /* جعل كل الأزرار الأساسية في التطبيق باللون الأزرق الليلي */
  .btn-primary {
    @apply bg-[#191970] text-white rounded-2xl font-bold shadow-lg active:scale-95 transition-all;
  }
  
  /* جعل حواف البطاقات ناعمة جداً مثل تيمو */
  .card-style {
    @apply bg-white rounded-[30px] shadow-sm border border-gray-100;
  }
}

/* تغيير لون تحديد النص للذهبي */
::selection {
  background: #FFD700;
  color: #191970;
}
